/* Section 4 About Me */
.about-section {
  padding: 0px 30px;
  margin-top: 30px;
  scroll-margin-top: 70px;
}
.headline-text {
  text-align: center;
  margin-top: -40px;
}
.headline-description {
  margin: 0;
  margin-bottom: 30px;
}

.dwnld-cv-btn {
  color: var(--white);
  background-color: rgb(28, 68, 129);
  border: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  gap: 10px;
  font-weight: 500;
}
.img-dwnld {
  width: 20px;
}

.accomplitions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
  max-width: 520px;
  margin-top: 20px;
  border: 2px solid rgba(128, 126, 126, 0.1);
  border-radius: 10px;
}
.accomplition {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 10px;
}
.icon-accomp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-accom {
  width: 45px;
  background-color: var(--text);
  padding: 8px 10px;
  border-radius: 5px;
}
.acc-title {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 5px;
}
.acc-numbered {
  font-size: 15px;
  color: var(--text-secondary);
  white-space: nowrap;
}
.journey-container {
  margin-top: 30px;
}
.journey-headline {
  margin-bottom: 15px;
}
.my-journey-text {
  font-size: 16px;
  width: 100%;
}

/* code-infos */
.code-infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 12px;
}
.code-info {
  border: solid 2px rgba(128, 126, 126, 0.1);
  border-radius: 10px;
  padding: 20px;
  height: 180px; 
}
.img-code-container {
  background-color: var(--text);
  border-radius: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.img-code {
  width: 25px;
}
.info-title {
  font-size: 17px;
  font-weight: 600;
  color: var(--navy);
  margin-bottom: 10px;
}
.info-description {
  font-size: 16px;
  line-height: 20px;
  margin: 5px 0px;
  width: 100%;
}


@media (max-width:587px){
  .accomplitions{
    grid-template-columns: 152px;
  }
}