/* Contact Section */
.contact-section {
  padding: 0px 30px;
}
.contact-info-container {
  margin-bottom: 20px;
  max-width: 490px;
}
.contact-headline {
  margin-top: -10px;
  font-size: 18px;
}

/* contact-information
 */
.contact-information {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.contact-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-contact {
  width: 40px;
  background-color: var(--text);
  padding: 10px 10px;
  border-radius: 15px;
}
.contact-type {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 5px;
}
.contact-adress {
  font-size: 15px;
  color: var(--text-secondary);
}

.contact-section-socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

/* Forms */
.form-container {
  padding: 20px 20px;
  border: solid 1px rgba(173, 173, 173, 0.5);
  border-radius: 15px;
  background-color: #fffefa;
  max-width: 600px;
}
.send-msg-text {
  font-size: 20px;
  margin-bottom: 20px;
}
.input-headlines {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}
.sender-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 15px;
}
.sender-data,
.message-subject,
.message {
  margin-bottom: 20px;
}
.user-input {
  padding: 10px 15px;
  border: solid 1px rgba(173, 173, 173, 0.5);
  border-radius: 6px;
  width: 100%;
}
.user-input:focus {
  outline: 1px solid var(--text);
}
.message-input {
  height: 100px;
}
.message-input::placeholder {
  margin-bottom: auto;
}
.user-input::placeholder {
  color: rgba(0, 0, 0, 0.425);
}
.send-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--navy);
  cursor: pointer;
}
.send-btn:hover {
  background-color: var(--text);
  transform: scale(1.02);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}
.send-icon {
  width: 25px;
}
.footer {
  width: 100%;
  height: 120px;
  background-color: var(--navy);
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
}

@media (min-width: 420px) {
  .contact-section-socials-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 15px;
    margin: 0px auto;
  }
}

@media (min-width: 500px) {
  .contact-section-socials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-informations-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .contact-info-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .form-container {
    margin: 0px auto;
  }
}
