/* section 2 Project Section */
/* page-info-container */
.project-section {
  margin-top: 30px;
  scroll-margin-top: 70px;
  padding: 0px 30px;
}
.project-headline {
  text-align: center;
  margin-top: -25px;
}
.bg-big-text {
  font-size: 90px;
  font-weight: 600;
  color: rgb(206, 205, 205);
  opacity: 0.15;
  text-align: center;
}
.headline-2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 40px;
  width: 80%;
  max-width: 550px;
  letter-spacing: -1px;
}
.headline-description {
  font-size: 21px;
  width: 70%;
  max-width: 485px;
  line-height: 30px;
  margin-bottom: 30px;
  color: var(--text-secondary);
}
.catagory-bar {
  margin-bottom: 15px;
}
.catagory {
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 5px;
  color: var(--white);
  background-color: rgb(28, 68, 129);
  margin-right: 10px;
  margin-bottom: 10px;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.catagory:hover {
  color: var(--white);
  background-color: var(--navy);
  transform: scale(1.02);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}
.clicked {
  background-color: var(--navy);
  transform: scale(1.01);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}
.selectd-works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  border: 3px solid white;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.07);
  height: 430px;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.project:hover {
  transform: scale(1.03);
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
}
.project-demo-container {
  height: 300px;
  width: 100%;
}
.demo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.demo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.link-arrow {
  width: 23px;
}
.project-info-container {
  padding: 10px 20px;
  background-color: var(--white);
}
.project-title {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 5px;
}
.project-description {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 15px;
  color: var(--text-secondary);
}
.project-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.project-link {
  color: var(--blue);
  font-weight: 500;
  font-size: 15px;
}
.project-link:hover {
  color: var(--text);
  font-weight: 600;
}
@media (min-width: 900px) {
  .bg-big-text {
    font-size: 150px;
  }
}
@media (min-width: 900px) {
  .selectd-works {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .bg-big-text {
    font-size: 120px;
  }
  .headline-text {
    margin-top: -40px;
  }
  .headline-description {
    margin: 0px auto;
  }
  .introductory-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: top;
    margin-top: 20px;
  }
}

@media (max-width: 587px) {
  .selectd-works {
    grid-template-columns: 1fr;
  }
  .bg-big-text {
    font-size: 70px;
  }
}

@media (max-width: 480px) {
  .bg-big-text {
    font-size: 50px;
  }
}
